
body{
  font-family: Montserrat;
  mrgin:0;
  text-align:center;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat";

}

p{
  color:#686868;
}
/*headings   */
.big-heading{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight:900;

}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;

}
.container-fluid{
  padding: 7% 15% ;

}
/* section  */
.colored-section{
  background-color: #ff4c68;
  color:#fff;
}
.white-section{
  background-color:#fff;
}

/*    navbar                        */
.navbar-light .navbar-brand {
  font-family: Ubuntu;
  color: #fff;
  font-size:2rem;
  padding-bottom:3.5rem;
}

.navbar-light .navbar-nav .nav-link{
  font-family: Ubuntu;
      color: rgba(241, 240, 240, 0.5);
          padding-bottom:5.5rem;
}
.navbar{
  padding:0 0 2.5rem;
}

.nav-item{
  padding: 0 10px;
}

.nav-link{
  font-size:1.2rem;
  font-family:"Montserrat-light";

}
/* title section  */
#title .container-fluid{
  padding:3% 15% 7%;
  text-align: left;
}
.download-button{
  margin:5% 3% 5% 0;
}
/* title image */
.image-title{
  width:300px;
  transform: rotate(25deg);
  position:absolute;
}
/* features    */
#features{

  position:relative;
}
.feature-title{
  font-size:1.5rem;
}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}
/* testimonial      */
#testimonials{
  background-color:#ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image
{
  width:10%;
  border-radius: 100%;
  margin:3%;


}
/*press   */
#press{
  background-color:#ef8172;
  padding-bottom:5%;
}
.logo{
width:15%;
margin:20px 20px 20px;
}
/* pricing   */
#pricing{
  padding:100px;
}
.pricing-column{
  padding:3% 2%;
}
.price-text{
  font-size:3rem;
  line-height: 1.5;
}
@media (max-width:993px){
  #title{
    text-align:center;
  }
  .image-title{
    position:static;
    transform:rotate(0);
  }
}
/* cta section */

  .cta-header{
    font-size:3rem;
    line-height: 1.5;
  }
/* footer   */


#footer {
}
.social-icon{
 margin: 20px 10px;
}
