#title{
  background-color: #ff4c68;
  color:#fff;
}
body{
  font-family: Montserrat;
  mrgin:0;
}
.container-fluid{
  padding: 3% 15% 7%;

}

h1{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight:900;

}
h2{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight:900;
}
p{
  color:#686868;
}
/*    navbar                        */
.navbar-light .navbar-brand {
  font-family: Ubuntu;
  color: #fff;
  font-size:2rem;
  padding-bottom:3.5rem;
}

.navbar-light .navbar-nav .nav-link{
  font-family: Ubuntu;
      color: rgba(241, 240, 240, 0.5);
          padding-bottom:5.5rem;
}
.navbar{
  padding:0 0 2.5rem;
}

.nav-item{
  padding: 0 10px;
}

.nav-link{
  font-size:1.2rem;
  font-family:"Montserrat-light";

}
/*.collapse{
  padding-right:10%;
}
*/
.download-button{
  margin:5% 3% 5% 0;
}

.image-title{
  width:1000%;
  transform: rotate(25deg);
  position:absolute;
}
/* features    */
#features{
  padding:7% 15%;
  background-color:#fff;
  position:relative;
}
.feature-box{
  text-align:center;
}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}
/* testimonial      */
#testimonials{
  text-align:center;
  background-color:#ef8172;
  color:#fff;

}

.carousel-item{
  padding:7% 15%;
}
.testimonial-image
{
  width:10%;
  border-radius: 100%;
  margin:3%;


}
#press{
  background-color:#ef8172;
  text-align:center;
  padding-bottom:5%;
}
.logo{
width:15%;
margin:20px 20px 20px;
}
#pricing{
  padding:100px;
  text-align:center;
}
.pricing-column{
  padding:3% 2%;
}
